
.page-content{
        height: 82vh;
}
/* .content-wrapper{
    height: calc(100vh - 56px);
} */
.content-wrapper {
    height: calc(100vh - 88px);
}
.texttodisplay{
    margin: auto;
    background: #fab1a0;
    padding: 30px;
}
.loading{
	position: fixed;
background: rgba(177, 172, 172, 0.4);
width: 81vw;
height: 100vh;
top: 62px;
z-index: 999999999999999999999999999999;
text-align: center;
padding-top:37vh;
left: 20%;
}
.loading img{
	width: 70px;
}
.hidden{
    display: none;
}
.border_red{
    border: 1px solid red;
}
#logoutbtnid{
    background-color: #ffffff2e !important;
    border: none;
    border-radius: 5px;
    padding: 2px 15px;
    color: white;
}
